.btn.roundedTag {
	border-radius: 1000px;
	padding: 0.3rem 0.5rem;
	font-size: 0.75rem;
}

.btn.activeTag {
	border-color: var(--col-border-liked);
	color: var(--col-text-liked);
}
.btn.roundedTag:active {
	background-color: var(--col-border-liked);
}

.tagWrapper {
	padding: 0rem 0.4rem;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 0.3rem;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
