.DetailedPalette {
	margin: 2rem auto;
	-webkit-flex: 1 1 240px;
	flex: 1 1 240px;
	min-width: 300px;
	max-width: 700px;
	min-height: 150px;
	height: 420px;
	display: grid;
	grid-template-rows: 7fr 0fr 2fr;
	gap: 0.5rem;
	background-color: var(--col-bg-body);
	border-radius: 1rem;
	box-shadow: var(--shadow);
	overflow: hidden;
}

.DetailedPalette .color-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-radius: 1rem 1rem 0 0;
	z-index: 5;
	background-color: #fff;
}

.DetailedPalette .color {
	box-shadow: var(--in-shadow);
	height: 100%;
	width: 100%;
	position: relative;
	transition: all 0.1s ease-in-out;
	cursor: copy;
}

.DetailedPalette .color span {
	line-height: 1;
	display: inline-block;
	position: absolute;
	bottom: -2rem;
	left: 0;
	right: 0;
	padding: 0.2rem;
	font-size: 1rem;
	color: #000;
	opacity: 1;
	text-align: center;
	cursor: copy;
}

.DetailedPalette .metadata {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	position: relative;
	font-size: 0.9rem;
	padding: 1rem;
}
.DetailedPalette .metadata .tags {
	display: -webkit-flex;
	display: flex;
	gap: 1rem;
	z-index: 1;
}
.DetailedPalette .metadata .tags a {
	color: gray;
	font-weight: 400;
}
.DetailedPalette .metadata .btn {
	font-size: inherit;
}
.DetailedPalette .metadata .tags a:hover {
	color: var(--col-text-unliked);
}
.DetailedPalette .metadata .styling {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 10rem;
	line-height: 0.3;
	z-index: 0;
	color: #ddd2;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.DetailedPalette .BigLikeButton {
	height: 0;
	position: relative;
	cursor: pointer;
}
.DetailedPalette .BigLikeButton span {
	border: 1px solid var(--col-border-unliked);
	display: block;
	margin: auto;
	background-color: var(--col-bg-unliked);
	color: var(--col-text-unliked);
	box-shadow: var(--shadow);
	line-height: 0;
	position: absolute;
	left: 0;
	right: 0;
	padding: 1.45rem;
	width: fit-content;
	top: -4.5rem;
	z-index: 45;
	border-radius: 100%;
	text-align: center;
}
.DetailedPalette .BigLikeButton span svg {
	height: 2.2rem;
	width: 2.2rem;
}
.DetailedPalette .BigLikeButton span:hover {
	background-color: #eee;
}
.DetailedPalette .BigLikeButton.liked span {
	color: var(--col-text-liked);
	border-color: var(--col-border-liked);
}
.DetailedPalette .BigLikeButton span:active {
	color: #ddd;
	background-color: #000;
}

@media (max-width: 800px) {
	.DetailedPalette {
		width: 90%;
		height: 54vw;
	}
}

@media (max-width: 640px) {
	.DetailedPalette {
		margin: 5vw auto;
		-webkit-flex: 1 1 240px;
		flex: 1 1 240px;
		min-width: 250px;
		width: 90%;
		height: 54vw;
		gap: 1vw;
	}

	.DetailedPalette .color span {
		bottom: -7vw;
		padding: 1.5vw;
		font-size: 2.7vw;
	}

	.DetailedPalette .metadata {
		font-size: 2.3vw;
	}
	.DetailedPalette .metadata .tags {
		gap: 2.1vw;
	}
	.DetailedPalette .metadata .styling {
		font-size: 25vw;
	}
	.DetailedPalette .metadata {
		padding: 3vw;
	}
	.DetailedPalette .BigLikeButton span {
		font-size: 5vw;
		padding: 3.8vw;
		line-height: 0;
		top: -11.5vw;
	}
	.DetailedPalette .BigLikeButton span svg {
		height: 5.5vw;
		width: 5.5vw;
	}
	.DetailedPalette .metadata .btn {
		padding: 0.5vw 3vw;
		margin: 0;
	}
	.DetailedPalette .metadata .btn svg {
		height: 2.5vw;
	}
}
@media (max-width: 490px) {
	.DetailedPalette .metadata .timestamp {
		display: none;
	}
}
