.wrapper {
	margin: 1rem 2rem 0rem 2rem;
	padding: 1rem;
	padding-bottom: 0rem;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 1rem;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;

	/* max-height: 100%; */
	/* overflow: auto; */
}

.wrapper::-webkit-scrollbar {
	/* display: none; */
}

@media (max-width: 1080px) {
	.wrapper {
		margin: 1rem 2rem;
	}
}
@media (max-width: 800px) {
	.wrapper {
		margin: 1rem 0.5rem;
	}
}

@media (max-width: 530px) {
	.wrapper {
		margin: 1rem 0.5rem;
	}
}

/*now on mobile*/
@media (max-width: 490px) {
	.wrapper {
		margin: 1rem 0.6rem;
	}
}
@media (max-width: 460px) {
	.wrapper {
		margin: 1rem 0rem;
	}
}
