.NavBar {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	padding: 1rem 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: var(--col-bg-body);
	box-shadow: var(--shadow);
	z-index: 100;
	max-height: 61.2px;
}

.NavBar .logoWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}
.NavBar img {
	width: 2.8rem;
}
.NavBar ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	gap: 1rem;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.NavBar .btn.active {
	background-color: var(--col-border-unliked);
}

.dropdownHandle {
	position: relative;
}

.backdrop {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0001;
}

.dropdown {
	position: absolute;
	right: -20rem;
	transform: rotateZ(-90deg);
	display: flex;
	flex-direction: column !important;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	background-color: var(--col-bg-body);
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	border: var(--col-border-unliked);
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.dropdown.open {
	right: 0;
	transform: rotateZ(0deg);
	transition: all 0.2s ease-in-out;
}

.dropdown li {
	width: 120px;
}

@media (min-width: 820px) {
	.hideOnBigger {
		display: none;
	}
}
@media (max-width: 820px) {
	.hideOnSmall {
		display: none !important;
	}
	.NavBar {
		padding: 1rem;
	}
	strong {
		font-size: 1.2rem;
	}
}
