.Footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: var(--col-bg-body);
	box-shadow: var(--shadow);
	z-index: 555;
	padding-bottom: 0.5rem;
	border-radius: 0.7rem 0.7rem 0 0;
}

.Footer .btn-footer {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 1000px;
	background-color: var(--col-bg-body);
	padding: 0.7rem;
	width: min-content;
	color: #5e5e5e;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all 0.2s ease-in-out;
}

.Footer .btn-footer svg {
	height: 1.4rem;
}

.Footer .active.btn-footer {
	transform: translate(0, -0.6rem) scale(1.2);
	transition: all 0.2s ease-in-out;
	border-radius: 1000px;
	background-color: #e0e0e8;
	color: rgb(0, 0, 0);
}

.Footer ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 0.2rem;
}
.Footer li {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Footer.hideOnNonMobile {
	display: none;
}

@media (max-width: 600px) {
	.Footer.hideOnNonMobile {
		display: block;
	}
}
