.ClientPaletteContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ClientPaletteContainer .partition {
	flex: 1 1 500px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 1rem 0;
	margin-bottom: 3rem;
}

.ClientPaletteContainer .partition .heading {
	font-size: 1.5rem;
	font-weight: 400;
	background-color: var(--col-bg-body);
	width: 90%;
	margin: 0.5rem auto;
	margin-top: 2rem;
	padding: 1rem 0;
	border-bottom: 1px solid black;
}

.ClientPaletteContainer .partition .wrapper {
	margin: 0.5rem auto;
	padding: 0;
	width: 90%;
}

.ClientPaletteContainer .partition .wrapper.vertical {
	flex-direction: column;
}

.ClientPaletteContainer .partition .wrapper.vertical svg {
	margin-top: 2rem;
	width: 60px;
	stroke: #333;
}

.ClientPaletteContainer .partition .wrapper.vertical span {
	font-size: 1.2em;
}

.ClientPaletteContainer .partition .wrapper.vertical p {
	font-size: 0.8em;
}
.ClientPaletteContainer .partition .wrapper.vertical .btn {
	margin-top: 1rem;
}
